@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Conteúdo geral da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body {
  font-family: 'Montserrat', Arial, Helvetica;
  margin: 0;
  padding: 0;
}

h1, h2{
  font-weight:800;
  color: rgb(14, 56, 14);
  text-align: left;
  margin-right: auto;
}

.containerConteudo {
  width: 95vw;
  height: 70vh;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', Arial, Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* CSS do componente da BarraPesquisa.tsx */
.barraPesquisa {
  width: 100%;
  height: 6px;
  margin-left: 6px;
  margin-right: 1vw;
  display: flex;
  align-items: center;
}

.barraPesquisa input[type="text"] {
  width: auto;
  padding: 8px;
  margin: 0;
  border: none;
  font-size: 16px;
  font-weight: normal;
  background: none;
  color: #000;
}

/* Estilos para telas menores, como dispositivos móveis */
@media screen and (max-width: 768px) {
  .barraPesquisa {
    flex-direction: column;
    align-items: flex-start;
  }

  .barraPesquisa input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Estilização dos outros campos de texto e seleção, incluindo rótulos */
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para os rótulos */
label {
  font-weight: bold;
}

/* Estilo para os rótulos dos campos de seleção */
select + label {
  margin-top: 10px;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.topContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5vh;
  margin-top: 3vh;
}

.headerActions {
  display: flex;
  align-items: center;
}

/* CSS do componente da AdicionarUsuarioPopup.tsx */
form {
  margin-top: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.emailInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.passwordInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

label {
  font-weight: bold;
}

select + label {
  margin-top: 10px;
  display: block;
}

.tabelasContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  margin-bottom: 100px;
}

.tabelaContainer {
  flex-basis: calc(50% - 10px);
  margin-right: 10px;
}

.componenteData {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menuIcon {
  color: #f3f3f3;
}

.componenteData .MuiInputBase-input {
  font-size: 14px;
  color: #333;
}

.espaco{
  margin-bottom: 30vh;
}
